$primary: #0099ff;
$secondary: #8e26d9ff;
$enable-shadows: true;
$bootstrap-icons-font-dir: "/node_modules/bootstrap-icons/font/fonts";
@import "/node_modules/bootstrap/scss/bootstrap";
@import "/node_modules/bootstrap-icons/font/bootstrap-icons";